{% extends 'v2/govuk/base2.html' %}

{% block page_title %}Verify parties on case{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{ invitation.case.reference }}: {{ invitation.case.name }}</span>
        <h1 class="govuk-heading-xl">Representative invite</h1>
        <div class="address-card">
            <div class="address-container">
              <div class="govuk-warning-text">
                <p class="govuk-warning-text__text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong>
                    <span class="govuk-warning-text__assistive">Warning</span>
                    The organisation in this representative invite matches other organisations in our records. 
                  </strong>
                </p>
              </div>
            </div>
        </div>
        <h2 class="govuk-heading-m" id="subsection-title">Review matching organisations</h2>
        <p>Organisations are matching when one or more of their registered details are the same as another organisation.</p>
        <p>You need to check if they are duplicates before you can review this representative invite.</p>
        <table class="govuk-table sortable mobile-table-border" id="table-header">
            <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">A table listing all of the parties waiting to be verified</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden--desktop">Sort by: </span>Organisation
                </th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden--desktop">Sort by: </span>Matching organisations
                </th>
                <th class="govuk-table__header">
                  <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
                </th>
                <th class="govuk-table__header">
                    <span class="govuk-visually-hidden--desktop">Action:</span>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell text-overflow">
                  <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{invitation.organisation.name}}</a>
                </td>
                <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Matches: </span>2
                </td>
                <td class="govuk-table__cell text-overflow">
                  <span class="govuk-visually-hidden--desktop">Status: </span>
                  Not started
                </td>
                <td class="govuk-table__cell action">
                  <a class="govuk-link govuk-link--no-visited-state" href="reginterest-merge-rep-review">Select</a><a><span class="govuk-visually-hidden">{{invitation.organisation.name}}</span>
                </a></td>
              </tr>
          </tbody></table>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">Party details</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <strong>Interested party</strong><br>
                        <a href="{% url 'organisations:v1_view_organisation' organisation_id=invitation.organisation.id %}"
                            class="govuk-link--no-visited-state">{{ invitation.organisation_name }}</a><br>
                        <a href="/users/cusomter/{{ invitation.created_by.id }}"
                            data-url="/users/cusomter/{{ invitation.created_by.id }}"
                            class="modal-form">{{ invitation.created_by.name }}</a>
                    </li>
                    <li>
                        <strong>Representative </strong><br>
                        <a href="{% url 'organisations:v1_view_organisation' organisation_id=invitation.contact.organisation %}"
                            class="govuk-link--no-visited-state">{{ invitation.contact.organisation_name }}</a><br>
                        <a href="/users/cusomter/{{ invitation.contact.user_id }}"
                            data-url="/users/cusomter/{{ invitation.contact.user_id }}"
                            class="modal-form">{{ invitation.contact.name }}</a>
                    </li>
                    <li>
                        <strong>Submitted by</strong><br>
                        <a href="/users/cusomter/{{ invitation.created_by.id }}"
                            data-url="/users/cusomter/{{ invitation.created_by.id }}"
                            class="modal-form">{{ invitation.created_by.name }}</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
{% endblock row_content %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'javascripts/vendor/require.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/main.js' %}"></script>


    <script type="text/javascript">
        window.dit = window.dit || {};
        window.dit.environment = "{{ ENV_NAME }}";
        window.dit.jsBase = "{% static 'javascripts' %}";
        window.dit.csrfToken = "{{ csrf_token }}";
        window.dit.csrfToken_input = '{% csrf_token %}';
        {% if submission %}
            window.dit.submission_id = '{{submission.id}}';
        {% endif %}
        {% if user %}
            window.dit.user_id = '{{user.id}}';
        {% endif %}
        {% if organisation %}
            window.dit.organisation_id = '{{organisation.id}}';
        {% endif %}
        window.dit.user = {
            id: '{{ user.id }}',
            name: '{{ user.name }}',
            is_admin: {% if user.is_admin %}true{% else %}false{% endif %},
            hoi: {% if user.is_top_admin %}true{% else %}false{% endif %},
        };
    </script>
{% endblock scripts %}
