{% extends "base.html" %}
{% load text_element %}

{% load application_heading %}

{% block heading %}
    {% application_heading %}
{% endblock %}

{% block page_title %}
    Forgotten password
{% endblock %}

{% block main_content %}
    <p>Enter the email address you use to log in.
        We will send you a link to reset your password
    </p>
    <form action="/accounts/forgotpassword/" method="post">
        {% csrf_token %}
        {% text_element id='email' label='Email address' errors=errors %}
        <button type="submit" class="button">Request password reset</button>
    </form>
{% endblock %}
