{% extends "base.html" %}
{% load text_element %}

{% load application_heading %}

{% block heading %}
    {% application_heading %}
{% endblock %}

{% block page_title %}
    Forgotten password
{% endblock %}

{% block main_content %}
  {% if requested %}
    <p>
      Please check your email and click the link provided to reset your password.
    </p>
    <p>
        <a href="/accounts/login/">Back to log in</a>
    </p>
  {% else %}
      <p>Enter the email address you use to log in.
        We will send you a link to reset your password
      </p>
      <form action="/accounts/forgotpassword/" method="post">
            {% csrf_token %}
            {% text_element id='email' label='Email address' errors=errors %}
            <button type="submit" class="button">Request password reset</button>
        </form>
  {% endif %}
{% endblock %}
