{% extends "base.html" %}
{% load format_date %}
{% load application_heading %}

{% block heading %}
    {% application_heading %}
{% endblock %}

{% block main_content %}
  <div id="wrapper" class="site-wrapper direction-ltr">
    <form action="/twofactor/" method="post">
        {% csrf_token %}
        <main role="main" id="content" lang="en">
            <div class="grid-row">
                <div class="column-full margin-top-2">
                    <h1 class="heading-large margin-bottom-1">
                        Two factor authentication
                    </h1>

                    {% if twofactor_error %}
                        <div class="form-group-error">
                            <p>{{twofactor_error}}</p>
                        </div>
                    {% else %}
                        <div>
                            <p>We have sent a code to
                            <span class="">
                                {% if delivery_type != 'email' %}
                                    {{user.phone}}
                                {% else %}
                                    {{user.email}}
                                {% endif %}

                            </span>.</p><p>Enter the code in the box below.</p>
                        </div>
                    {% endif %}
                    {% if not locked_until %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="code" value="">
                    </div>
                    {% if delivery_type != 'email' %}
                        <div class="form-group">
                            <a href="?delivery_type=email">Email me instead</a>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <a href="?resend=true">Resend my code</a>
                    </div>

                     <div class="form-group">
                        <button type="submit" class="button"/>Submit</button>
                    </div>
                    {% else %}
                    Locked until {% format_date locked_until '%d %b %Y %H:%M' %}
                    {% endif %}
                </div>
            </div>
        </main>
    </form>
</div>

{% endblock %}
