# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Example Trade Remedies Caseworker environment file.

# Change the DJANGO_SECRET_KEY value and ensure that
# HEALTH_CHECK_TOKEN matches the value found in the local.env of
# your local API repository.

# Find remaining missing values from colleagues.
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Django Settings
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_BASE_URL=redis://redis:6379
DJANGO_SETTINGS_MODULE=config.settings.base
POSTGRES_HOST_AUTH_METHOD=trust
DJANGO_SECRET_KEY=xxx     # Change me

# Trade Remedies API Client
API_BASE_URL=http://api:8000
ENVIRONMENT_KEY=xxx        # Change me
HEALTH_CHECK_TOKEN=xxx     # Change me

# Trade Remedies Caseworker
ORGANISATION_NAME="Trade Remedies Authority"
ORGANISATION_INITIALISM=TRA

PUBLIC_BASE_URL=http://localhost:8002
USE_2FA=False

# AWS
S3_BUCKET_NAME=xxx     # Ask a Colleague
S3_STORAGE_KEY=xxx     # Ask a Colleague
S3_STORAGE_SECRET=xxx  # Ask a Colleague
AWS_REGION=eu-west-2

# Clam AV
CLAM_AV_USERNAME=xxx   # Ask a Colleague
CLAM_AV_PASSWORD=xxx   # Ask a Colleague
CLAM_AV_DOMAIN=xxx     # Ask a Colleague

# Google Tag Manager
GOOGLE_ANALYTICS_TAG_MANAGER_ID=xxx

# Admin tools
ADMIN_DEBUG_TOOLS_ENABLED=False
