{% extends "base.html" %}
{% load text_element %}
{% load application_heading %}

{% block heading %}
    {% application_heading %}
{% endblock %}

{% block page_title %}
    Reset your password
{% endblock %}


{% block main_content %}
    {% if not token_is_valid %}
        <p>
            This code has expired, been used, or is invalid
        </p>
        <div><a href="{% url 'forgot_password' %}">Request again</a></div>
    {% else %}
        {% if error %}
            <p class="error-message">
                {{error|safe}}
            </p>
        {% endif %}
            <p>Enter a new password in the fields below</p>
            <form id="password_reset_form" action="" method="post">
                {% csrf_token %}
                {% text_element password=True id='password' label='New password' errors=errors hint='Requires upper and lower case letters, a number, a special character (for example, !@£%/<) and at least 8 characters. Try to make sure that your password isn\'t easy to guess.' %}
                {% text_element password=True id='password_confirm' label='Confirm new password' errors=errors %}
                <button type="submit" class="button">Reset password</button>
            </form>
    {% endif %}

{% endblock %}
