{% extends "v2/govuk/base_with_form.html" %}
<!-- {    % load text_element %   }
{% load custom_filters %}
{% load application_heading %}
{% load format_date %} -->


{% block page_title %}Invite party{% endblock page_title %}

{% block form_content %}

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="invite-party-contacts-choice-hint">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            
                <h1 class="govuk-fieldset__heading">
                    Which contact do you want to invite?
                </h1>
            
            </legend>

            {% if org_invite_contacts %}
                <div id="invite-party-contacts-choice-hint" class="govuk-hint">
                    Select all contacts you want to invite.
                </div>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes" id="org">

                    {% for contact in org_invite_contacts %}

                        <!-- 
                            Each contact is a tuple containing a name (0) and an email (1), 
                            therefore need to access these using index numbers.
                        -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="{{ contact.0 }}" name="org"
                                    type="checkbox" value="{{ contact.0 }}">
                            <label class="govuk-label govuk-checkboxes__label" for="{{ contact.0 }}">

                                {{ contact.0 }}&nbsp;-&nbsp;{{ contact.1 }}<br>
                                <!-- {{ contact.0 }}<br> -->

                            </label>

                        </div>

                    {% endfor %}




                    <!-- 
                        REMOVE THE FOLLOWING LINES ONCE YOU HAVE SORTED OUT THE ISSUE WITH YOUR SELECTION 
                        NOT BEING ACCPETED - USING THE DROP-DOWN LIST (FROM FORM) TO MAKE A SALECTION,
                        AND WORK ON THE NEXT PAGE (SO THAT IS READY AND LOOKING RIGHT)
                     -->
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                    <!-- {{ form }} --> 

                    
                </div>

            {% else %}
                <p>PLACEHOLDER: No contacts exist for this organisation - would we need a message like this???</p>
            {% endif %}

        </fieldset>
    </div>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            I want to invite a new contact from this organisation
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>To avoid duplicate accounts, please ask the admin from the organisation to invite the new contact to the account first.</p>
        </div>
    </details>
        
    {% include 'v2/component_macros/form_button_group.html' with forward_button_text="Continue" %}
          
{% endblock form_content %}
