{% extends '../review.html' %}
{% load set %}
{% block upper_info_block %}
    <div class="info">
        <p>Approval this request will allow you to email an invitation to this user.
        </p>
        <p>When the user accepts the invitation and you have verified their organisation, they will be able to submit evidence to the case.</p>
        {% if submission.status.name == "Invite requested" %}<p>The verification process for this party is not yet complete - <a class="button" href="{% url 'verify_organisation_task_list' invitation_id=invites.0.id %}">Verification Process</a></p>{% endif %}
    </div>
{% endblock %}
{% block lower_info_block %}
    <div class="info">
        <p>
            <span class="bold">{{submission.created_by.name}}
            </span> of
            <span class="bold">{{submission.created_by.organisation.name}}
            </span> is requesting access for
            <span class="bold">{{invites.0.contact.name}}
            </span> of
            <span class="bold">{{invites.0.contact.organisation.name}}
            </span> to represent
            <span class="bold">{{submission.organisation.name}}
            </span> in this case.
        </p>
    </div>
{% endblock %}
{% block case_page_content %}
    {% set 'submission_group_name' '3rd party invite' %}
    {{ block.super }}
{% endblock %}
