{% extends '../review.html' %}
{% load set %}
{% block upper_info_block %}
    {% if 'FEATURE_FLAG_INVITE_JOURNEY' in user.groups %}
        {% if not invites.0.rejected_by and not invites.0.approved_by %}
            {# we only want to show this box if the invite has not already been approved or declined #}
            <div class="info">
                {% if not invites.0.accepted_at %}
                    {# The invitation has been sent but not accepted #}
                    <p><span class="bold">{{ submission.organisation.name }}</span> has invited <span
                            class="bold">{{ invites.0.contact.organisation.name }}</span> to represent them in this
                        case.
                    </p>
                    <p>The invite has not yet been accepted by {{ invites.0.contact.organisation.name }}.</p>
                    <a class="button" disabled
                       href="{% url 'verify_organisation_task_list' invitation_id=invites.0.id %}">Review
                        invite</a>
                {% elif invites.0.accepted_at %}
                    {# The invitation has been accepted but not reviewed by caseworkers yet #}
                    <p><span class="bold">{{ invites.0.contact.organisation.name }}</span> has accepted <strong
                            class="bold">{{ submission.organisation.name }}'s invite.</strong></p>
                    <p>Review the invite to decide if {{ invites.0.contact.organisation.name }} can act as a
                        representative
                        in this case.</p>
                    <a class="button" href="{% url 'verify_organisation_task_list' invitation_id=invites.0.id %}">Review
                        invite</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block lower_info_block %}
    <div class="info">
        <p>
            <span class="bold">{{ submission.created_by.name }}
            </span> of
            <span class="bold">{{ submission.created_by.organisation.name }}
            </span> has invited
            <span class="bold">{{ invites.0.contact.name }}
            </span> from
            <span class="bold">{{ invites.0.contact.organisation.name }}
            </span> to represent
            <span class="bold">{{ submission.organisation.name }}
            </span> in this case.
        </p>
    </div>
{% endblock %}
{% block case_page_content %}
    {% set 'submission_group_name' '3rd party invite' %}
    {{ block.super }}
{% endblock %}
