<div class="slider pull-right {% if not editable %} disabled{% endif %} {{value}}" data-attach="slider" >
    <label><span tabindex="0">Yes</span><input type="radio" name="{{name}}" value="yes" {% if value == 'yes' %}checked="checked"{% endif %} {% if not editable %}disabled="disabled"{% endif %}></label>
    <label><span tabindex="0">No</span><input type="radio" name="{{name}}" value="no" {% if value == 'no' %}checked="checked"{% endif %} {% if not editable %}disabled="disabled"{% endif %}></label>
</div>