<li class="tab pull-left {% if selected or value == current %}selected{% endif %}">
    {% if value == current %}
        <span>
    {% else %}
        <a href="?tab={{value}}" data-tab="{{value}}">
    {% endif %}
    {{ label }}
    {% if sr_text %}
        <span class="visually-hidden">{{sr_text}}</span>
    {% endif %}
    {% if number >= 0 %}
        <div class="number-circle">
            <span>{{number|default:0}}</span>
        </div>
    {% endif %}
    {% if value == current %}
        </span>
    {% else %}
        </a>
    {% endif %}
</li>
