{% extends 'v2/govuk/base.html' %}

{% block page_title %}Verification complete{% endblock page_title %}

{% block back_button %}{% endblock back_button %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Representative invite approved
            </h1>
        </div>
        <p class="govuk-body"><strong>{{ invitation.case.reference }} - {{ invitation.case.name }}</strong>.</p>
        <p class="govuk-body">You have approved {{ possessive_inviters_organisation_name }} representative invite for {{ invitation.contact.organisation_name }}
        </p>
        <p class="govuk-body">Both parties will be notified of your decision.</p>
        <a href="{% url 'cases:view_case' case_id=invitation.case.id %}" role="button" draggable="false" class="govuk-button"
            data-module="govuk-button">
            Back to case
        </a>
    </div>
{% endblock row_content %}
