{% extends 'v2/govuk/base.html' %}

{% block page_title %}
    {% if declined %}
        Reject representative invite
    {% else %}
        Approve representative invite
    {% endif %}
{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">2. Confirm </span>
        <h1 class="govuk-heading-xl">
            {% if declined %}
                Reject representative invite
            {% else %}
                Approve representative invite
            {% endif %}
        </h1>
        <h2 class="govuk-heading-m">Interested party </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ invitation.organisation_name }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Submitted by
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ invitation.created_by.name }} <br>
                    {{ invitation.created_by.email }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    LOA signatory
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ invitation.authorised_signatory.name }} <br>
                    {{ invitation.authorised_signatory.email }}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="{% url 'verify_organisation_verify_letter_of_authority' invitation_id=invitation.id %}"
                        class="govuk-link--no-visited-state">
                        Change
                        <span class="govuk-visually-hidden govuk-link--no-visited-state"> contact</span>
                    </a>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Representative </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ invitation.contact.organisation_name }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case contact
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ invitation.contact.name }} <br>
                    {{ invitation.contact.email }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if invitation.submission.deficiency_notice_params.contact_org_verify %}
                        Verified
                    {% else %}
                        Unverified
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="{% url 'verify_organisation_verify_representative' invitation_id=invitation.id %}"
                        class="govuk-link--no-visited-state">
                        Change
                        <span class="govuk-visually-hidden"> status</span>
                    </a>
                </dd>
            </div>
            {% if declined %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Internal case notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ invitation.submission.deficiency_notice_params.explain_why_contact_org_not_verified }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="{% url 'verify_organisation_verify_explain_org_not_verified' invitation_id=invitation.id %}"
                            class="govuk-link--no-visited-state">
                            Change
                            <span class="govuk-visually-hidden"> status</span>
                        </a>
                    </dd>
                </div>
            {% endif %}
        </dl>
        <form method="post">
            {% csrf_token %}
            {% if declined %}
                <p class="govuk-body">By rejecting this representative invite, the following will apply:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>The case notes will be only available to other caseworkers</li>
                    <li>The representative will not be allowed to act on behalf of the interested party</li>
                    <li>All parties will be notified that the representative invite has been rejected</li>
                </ul>
                {% include 'v2/component_macros/form_button_group.html' with forward_button_text='Reject invite' back_button_text="Back" %}
            {% else %}
                <p class="govuk-body">If you approve this invite, all parties will be notified of your decision.</p>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Approve invite
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state"
                        href="{% url 'verify_organisation_verify_confirm_declined' invitation_id=invitation.id %}">
                        Reject invite
                    </a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock row_content %}
