{% extends 'v2/govuk/base.html' %}

{% block page_title %}Unverified party{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">1.
            Review representative
        </span>
        <h1 class="govuk-heading-xl">
            Unverified representative
        </h1>
        <h2 class="govuk-heading-m">Internal case notes</h2>
        <form method="post">
            {% csrf_token %}
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="explain_why_org_not_verified">
                        Explain why the organisation cannot be verified
                    </label>
                    <div id="explain_why_org_not_verified-hint" class="govuk-hint">
                        This information will help other caseworkers if the organisation requests to be involved in
                        other cases.
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="explain_why_org_not_verified"
                        name="explain_why_org_not_verified" rows="5"
                        aria-describedby="unverfied-reason-info unverfied-reason-hint">{% if invitation.submission.deficiency_notice_params.explain_why_contact_org_not_verified %}{{ invitation.submission.deficiency_notice_params.explain_why_contact_org_not_verified }}{% endif %}</textarea>
                    <div
                        class="govuk-hint govuk-character-count__message govuk-visually-hidden">
                        You can enter up to <span class="characters_remaining">200</span> characters
                    </div>
                    <div class="govuk-hint govuk-character-count__message govuk-character-count__status"
                        aria-hidden="true">You have <span class="characters_remaining">200</span> characters remaining
                    </div>
                    <div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">You have 200
                        characters remaining
                    </div>
                </div>
            </div>
            {% include 'v2/component_macros/form_button_group.html' with forward_button_text="Continue" back_button_text="Back" %}
        </form>
    </div>
{% endblock row_content %}

{% block scripts %}
    <script type="text/javascript">
        $("#explain_why_org_not_verified").keyup(function () {
            let characters = $(this).val().length
            let remaining = 200 - characters
            $(".characters_remaining").text(remaining)
        })
    </script>
{% endblock scripts %}
