{% extends 'v2/govuk/base.html' %}
{% load get_item %}

{% block page_title %}Verify Letter of Authority{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">1. Review interested party</span>
        <h1 class="govuk-heading-xl">
            Letter of Authority
        </h1>
        {% if not uploaded_loa_document.sufficient %}
            <div class="address-card">
                <div class="address-container">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            Review Letter of Authority submission
                        </strong>
                        <p class="govuk-warning-text__text-p">The Letter of Authority submission must be considered
                            sufficient before you can proceed with this step.</p>
                        <p class="govuk-warning-text__text-p">
                            <a class="govuk-button" data-module="govuk-button"
                               href="/case/{{ invitation.case.id }}/submission/{{ invitation.submission.id }}/">
                                Review submission
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="govuk-inset-text govuk-inset-text__reginterest">
            <p><a href="{{ uploaded_loa_document.document.file }}"
                  class="govuk-link--no-visited-state" target="_blank">
                {% if uploaded_loa_document.document.extension == "pdf" or uploaded_loa_document.document.extension == "png" %}
                    View the Letter of Authority{% else %}Download the Letter of Authority
                {% endif %}</a></p>
        </div>

        <form method="post" novalidate>
            {% csrf_token %}
            {% with form_errors|get_item:"authorised_signatory" as error %}
                <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <p>Who is the authorised signatory in the Letter of Authority?</p>
                            <p>We collect this data so that it's easily available when needed in the future.</p>
                        </legend>
                        {% if error %}
                            <p id="{{ name }}-error" class="govuk-error-message">
                                {% for error in error %}
                                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if create_new_contact %}
                            {# we know the caseworker wants to create a new contact #}
                            {% include 'v2/component_macros/text_input.html' with value=invitation.submission.primary_contact.name label="Name" id="name" name="name" type="text" width="20" %}
                            {% include 'v2/component_macros/text_input.html' with value=invitation.submission.primary_contact.email label="Email address" id="email" name="email" type="email" width="20" %}
                        {% else %}
                            <div class="govuk-radios" data-module="govuk-radios">
                                {% for inviting_contact in invitation.organisation.contacts %}
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               id="reginterest-auth-choose-contact-{{ forloop.counter }}"
                                               name="authorised_signatory" type="radio"
                                               value="{{ inviting_contact.id }}"
                                               {% if invitation.submission.primary_contact.id == inviting_contact.id %}checked{% endif %}
                                        >
                                        <label class="govuk-label govuk-radios__label"
                                               for="reginterest-auth-choose-contact-{{ forloop.counter }}">
                                            {{ inviting_contact.name }} - {{ inviting_contact.email }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <div class="govuk-radios__divider">or</div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="reginterest-auth-choose-contact-3"
                                           name="authorised_signatory" type="radio" value="new_contact"
                                    >
                                    <label class="govuk-label govuk-radios__label"
                                           for="reginterest-auth-choose-contact-3">
                                        Add new contact
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    </fieldset>
                </div>
            {% endwith %}
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button"
                        {% if not uploaded_loa_document.sufficient %}disabled{% endif %}>
                    Continue
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="javascript: window.history.go(-1)">
                    Cancel
                </a>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s ">Submission status:</h2>
        <p class="govuk-body">

            {% if uploaded_loa_document.sufficient %}
                Sufficient
            {% else %}
                {% if uploaded_loa_document.deficient %}
                    Deficient
                {% elif not ploaded_loa_document.sufficient and not  uploaded_loa_document.deficient %}
                    Not reviewed
                {% endif %}
            {% endif %}
        </p>
    </div>
{% endblock row_content %}
