{% extends 'v2/govuk/base.html' %}
{% load static %}

{% block page_title %}Verify representative{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">1. Review representative</span>
        <h1 class="govuk-heading-xl">
            Verify representative
        </h1>
        <div class="govuk-inset-text govuk-inset-text__reginterest">
            <strong class="bold">{{ invited_organisation.name }}</strong> has been approved on to {{ number_of_approved_cases }}
            {% if number_of_approved_cases > 1 or number_of_approved_cases == 0 %}
                cases
            {% else %}
                case
            {% endif %}
            <br>
            {% if last_approval %}
                The last approval was on <strong class="bold">{{ last_approval.validated_at|date:'d M y' }}</strong> by
                <strong class="bold">{{ last_approval.validated_by.name }}</strong><br>
            {% endif %}

            {% if rejected_cases %}
                <strong class="bold">{{ invited_organisation.name }}</strong> has been rejected from
                {{ rejected_cases|length }}
                {% if rejected_cases|length > 1 or rejected_cases|length == 0 %}
                    cases
                {% else %}
                    case
                {% endif %}
                <br>
                {% if last_rejection %}
                    The last rejection was on <strong class="bold">{{ last_rejection.date_rejected|date:'d M y' }}</strong> by
                    <strong class="bold">{{ last_rejection.rejected_by.name }}</strong><br>
                {% endif %}
            {% endif %}
        </div>
        {% include "v2/partials/organisation_card.html" with organisation=invited_organisation_card request=request %}
        <form method="post">
            {% csrf_token %}
            {% include "v2/component_macros/two_radio_buttons.html" with value=invitation.submission.deficiency_notice_params.contact_org_verify label="Have you been able to verify the representative?" h1_heading=True label_size="m" name="been_able_to_verify_representative" id_one="been_able_to_verify_representative_1" id_two="been_able_to_verify_representative_2" label_one="Yes, I have been able to verify the representative" label_two="No, I have not been able to verify the representative" value_one=True value_two=False %}
            {% include 'v2/component_macros/form_button_group.html' with forward_button_text="Continue" back_button_text="Back" %}
        </form>
    </div>
{% endblock row_content %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'javascripts/vendor/require.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/main.js' %}"></script>


    <script type="text/javascript">
        window.dit = window.dit || {};
        window.dit.environment = "{{ ENV_NAME }}";
        window.dit.jsBase = "{% static 'javascripts' %}";
        window.dit.csrfToken = "{{ csrf_token }}";
        window.dit.csrfToken_input = '{% csrf_token %}';
        {% if submission %}
            window.dit.submission_id = '{{submission.id}}';
        {% endif %}
        {% if user %}
            window.dit.user_id = '{{user.id}}';
        {% endif %}
        {% if organisation %}
            window.dit.organisation_id = '{{organisation.id}}';
        {% endif %}
        window.dit.user = {
            id: '{{ user.id }}',
            name: '{{ user.name }}',
            is_admin: {% if user.is_admin %}true{% else %}false{% endif %},
            hoi: {% if user.is_top_admin %}true{% else %}false{% endif %},
        };
    </script>
{% endblock scripts %}
