{% extends 'v2/govuk/base.html' %}
{% load static %}

{% block page_title %}Verify representative{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">1. Review representative</span>
        <h1 class="govuk-heading-xl">
            Verify representative
        </h1>
        <div class="govuk-inset-text govuk-inset-text__reginterest">
            <strong>{{ invited_organisation.name }}</strong> has been approved on to {{ number_of_approved_cases }}
            {% if number_of_approved_cases > 1 or number_of_approved_cases == 0 %}
                cases
            {% else %}
                case
            {% endif %}
            <br>
            {% if last_approval %}
                The last approval was on <strong>{{ last_approval.validated_at|date:'d M y' }}</strong> by
                <strong>{{ last_approval.validated_by.name }}</strong><br>
            {% endif %}

            {% if invited_organisation.rejected_cases %}
                <strong>{{ invited_organisation.name }}</strong> has been rejected from
                {{ invited_organisation.rejected_cases|length }}
                {% if invited_organisation.rejected_cases|length > 1 or invited_organisation.rejected_cases|length == 0 %}
                    cases
                {% else %}
                    case
                {% endif %}
                <br>
                {% if last_rejection %}
                    The last rejection was on <strong>{{ last_rejection.date_rejected|date:'d M y' }}</strong> by
                    <strong>{{ last_rejection.rejected_by.name }}</strong><br>
                {% endif %}
            {% endif %}
`        </div>
        <div class="address-card">
            <div class="address-container">
                <h3 class="govuk-heading-m"><a href="/organisations/{{ invited_organisation.id }}"
                                               class="govuk-link--no-visited-state">{{ invited_organisation.name }}</a>
                    <p class="right-aligned-link govuk-heading-s">
                        <a href="{% url 'organisations:v2_edit_organisation' organisation_id=invited_organisation.id %}?redirect={{ request.path }}"
                           class="govuk-link--no-visited-state">Edit</a>
                    </p>
                </h3>
                <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Invite accepted by:</dt>
                        <dd class="govuk-summary-list__value">{{ invitation.contact.name }}<br>
                            {{ invitation.contact.email }}
                        </dd>
                    </div>
                    {% if invitation.name and invitation.contact.name != invitation.name or invitation.email and invitation.contact.email != invitation.email %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Invite sent to:</dt>
                            <dd class="govuk-summary-list__value">{{ invitation.name }}<br>
                                {{ invitation.email }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address:</dt>
                        <dd class="govuk-summary-list__value">
                            {{ invited_organisation.address|default_if_none:"" }}
                            {% if invited_organisation.post_code %}
                                <br>
                                {{ invited_organisation.post_code }}
                            {% endif %}
                            {% if invited_organisation.country_name %}
                                <br>
                                {{ invited_organisation.country_name }}
                            {% endif %}
                            <br>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reg number:</dt>
                        <dd class="govuk-summary-list__value">{{ invited_organisation.companies_house_id|default_if_none:"" }}
                            {% if invited_organisation.does_name_match_companies_house %}
                                <img
                                        src="{% static 'v2/assets/images/checkmark.png' %}"
                                        class="verified-tick"
                                        alt="Valid Companies House registration number"
                                        title="Valid Companies House registration number"
                                        width="20px">
                                <span class="govuk-body-s">Valid</span>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Web address:</dt>
                        <dd class="govuk-summary-list__value">
                                <a{% if invited_organisation.organisation_website %} href="{{ invited_organisation.a_tag_website_url }}"{% endif %}
                                target="_blank">{{ invited_organisation.organisation_website|default_if_none:"" }}</a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">VAT no:</dt>
                        <dd class="govuk-summary-list__value">{{ invited_organisation.vat_number|default_if_none:"" }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">EORI:</dt>
                        <dd class="govuk-summary-list__value">{{ invited_organisation.eori_number|default_if_none:"" }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">D-U-N-S:</dt>
                        <dd class="govuk-summary-list__value">{{ invited_organisation.duns_number|default_if_none:"" }}</dd>
                    </div>
                </dl>
                <br>
                <div>
                    {% if invited_approved_organisation_case_roles|length > 0 %}
                        <details class="case-details govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Cases acting as interested party: {{ invited_approved_organisation_case_roles|length }}
                            </span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list">
                                    {% for org_case_role in invited_approved_organisation_case_roles %}
                                        <li>
                                            <a href=""
                                               class="govuk-link--no-visited-state">{{ org_case_role.case.reference }}
                                                - {{ org_case_role.case.name }}</a>
                                            ({{ org_case_role.role_name }})
                                            {% if org_case_role.validated_at %}
                                                <img src="{% static 'v2/assets/images/green-checkmark-line-icon.png' %}"
                                                     class="verified-check"
                                                     alt="Verified on case"
                                                     title="Verified on case"
                                                     width="32px">
                                                <span class="govuk-body-s">{{ org_case_role.validated_at|date:'d M y' }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </details>
                    {% else %}
                        <details class="case-details govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary black-text">
                                Cases acting as interested party: 0
                            </summary>
                        </details>
                    {% endif %}
                </div>
                {% if approved_representative_cases|length > 0 %}
                    <div>
                        <details class="case-details govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Cases acting as a representative: {{ approved_representative_cases|length }}
                            </span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list">
                                    {% for representation in approved_representative_cases %}
                                        {% if representation.validated %}
                                            <li>
                                                <a href="{% url 'cases:view_case' case_id=representation.case.id %}"
                                                   class="govuk-link--no-visited-state">{{ representation.case.reference }}
                                                    - {{ representation.case.name }}</a>
                                                ({{ representation.role }})
                                                <img src="{% static 'v2/assets/images/green-checkmark-line-icon.png' %}"
                                                     class="verified-check" alt="Verified on case"
                                                     title="Verified on case" width="32px">
                                                <span class="govuk-body-s">{{ representation.validated_at|date:'d M y' }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </details>
                    </div>
                {% endif %}
                {% if invited_organisation.rejected_cases|length > 0 %}
                    <div>

                        <details class="case-details govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Cases rejected from: {{ rejected_cases|length }}
                            </span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list">
                                    {% for rejection in rejected_cases %}
                                        <li>
                                            <a href="{% url 'cases:view_case' case_id=rejection.case.id %}"
                                               class="govuk-link--no-visited-state">{{ rejection.case.reference }}
                                                - {{ rejection.case.name }}</a>
                                            <img src="{% static 'v2/assets/images/red-x.png' %}"
                                                 class="x-cross"
                                                 alt="Rejected from case"
                                                 title="Rejected from case" width="32px">
                                            <span class="govuk-body-s">{{ rejection.date_rejected|date:'d M y' }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </details>
                    </div>
                {% endif %}
                <div>
                    {% if invited_organisation.organisationuser_set|length > 0 %}
                        <details class="case-details govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Users: {{ invited_organisation.organisationuser_set|length }}
                            </span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list">
                                    {% for organisation_user in invited_organisation.organisationuser_set %}
                                        <li><a href="/users/cusomter/{{ organisation_user.user.id }}"
                                               data-url="/users/cusomter/{{ organisation_user.user.id }}/" }=""
                                               class="govuk-link--no-visited-state modal-form">{{ organisation_user.user.name }}</a>
                                            -
                                            {{ organisation_user.user.email }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </details>
                    {% else %}
                        <details class="case-details govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary black-text">
                                Users: 0
                            </summary>
                        </details>
                    {% endif %}

                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% include "v2/component_macros/two_radio_buttons.html" with value=invitation.submission.deficiency_notice_params.contact_org_verify label="Have you been able to verify the representative?" h1_heading=True label_size="m" name="been_able_to_verify_representative" id_one="been_able_to_verify_representative_1" id_two="been_able_to_verify_representative_2" label_one="Yes, I have been able to verify the representative" label_two="No, I have not been able to verify the representative" value_one=True value_two=False %}
            {% include 'v2/component_macros/form_button_group.html' with forward_button_text="Continue" back_button_text="Back" %}
        </form>
    </div>
{% endblock row_content %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'javascripts/vendor/require.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/main.js' %}"></script>


    <script type="text/javascript">
        window.dit = window.dit || {};
        window.dit.environment = "{{ ENV_NAME }}";
        window.dit.jsBase = "{% static 'javascripts' %}";
        window.dit.csrfToken = "{{ csrf_token }}";
        window.dit.csrfToken_input = '{% csrf_token %}';
        {% if submission %}
            window.dit.submission_id = '{{submission.id}}';
        {% endif %}
        {% if user %}
            window.dit.user_id = '{{user.id}}';
        {% endif %}
        {% if organisation %}
            window.dit.organisation_id = '{{organisation.id}}';
        {% endif %}
        window.dit.user = {
            id: '{{ user.id }}',
            name: '{{ user.name }}',
            is_admin: {% if user.is_admin %}true{% else %}false{% endif %},
            hoi: {% if user.is_top_admin %}true{% else %}false{% endif %},
        };
    </script>
{% endblock scripts %}
