{% extends "base.html" %}
{% load text_element %}
{% load custom_filters %}
{% load application_heading %}
{% load format_date %}

{% block heading %}
    Manage Feature Flag
{% endblock %}

{% block main_content %}
    <div class="grid-row">
        <div class="colum-full-nav">
            <h3>{{ feature_flag.name }}</h3>
            <h4>Users in this group:</h4>
            {% for user in feature_flag.users_in_group %}
                <div class="user_in_group">
                    <p>Email {{ user.email }}</p>
                    <a href="">Delete user from group</a>
                </div>
            {% endfor %}
            <h3>Add a new user to group</h3>
            <form method="post" action="{% url 'add_user_to_group' group_name=feature_flag.name user_pk=user.id %}">
                {% csrf_token %}
                <select name="user_to_add">
                    {% for user in feature_flag.users_not_in_group %}
                        <option value="{{ user.pk }}">{{ user.name }} ({{ user.email }})</option>
                    {% endfor %}
                </select>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
{% endblock %}
