{% load custom_filters %}
<div class="section {% if populated %}populated{% endif %}">
    {% set 'object' object|_or:submission %}
    {% if populated %}
        <div class="grey-box">
            <div class="column-full">
                <span class="label">Response window</span>
                {% include "cases/submissions/bundle_builder_edit_button.html" %}   
                {% set 'not_time_set' object.time_window|_not %}
                {% set 'no_chosen' object.time_window|_equals:'0' %}
                {% if not_time_set|_or:no_chosen %}
                    <span class="value">No response window set</span>
                {% else %}
                    <span class="value">{{ object.time_window }} days from request</span>
                    <span class="note">If request is issued today, the due date will be <span class="bold">{{0|now|add_days:object.time_window|format_date:'{S} %b %Y'}}</span></span>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="edit-section"> 
        <div id="response-window-yn" class="column-full ">
            <div class="form-group">    
                <label class="form-label">Response window
                    <span class="form-hint">
                        Does this {{submission_type_name|default:'request'}} require a response within a set period?
                    </span>
                </label>
                <div class="multiple-choice">
                    <input id="response-window-1" type="radio" name="{{name_prefix}}response_window_yn" value="yes" {% if object.time_window %} checked="checked" {% endif %}>
                    <label for="response-window-1">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="response-window-2" type="radio" name="{{name_prefix}}response_window_yn" value="no" {% if object.time_window|_equals:0 %} checked="checked" {% endif %}>
                    <label for="response-window-2">No</label>
                </div>
            </div>
        </div>
        <div  data-attach="Reveal" data-revealedby="#response-window-yn input[value=yes]:yes">
            <div class="form-group">
                <label class="form-label" for="time-window">
                    Number of days the recipient will have to respond once this request is sent
                </label>
                <input type="number" class="form-control" data_hide_value="0" name="{{name_prefix}}time_window" id="time-window" value="{{object.time_window}}"/>
            </div>
        </div>
    </div> 
</div>       
