{% load set %}
{% set 'selected_participants' json_data.send_to %}
<div class="section {% if populated %}populated{% endif %}">
    <div class="grey-box">
        <div class="column-full">
            <span class="label">Type</span>
            <span class="value">{{submission.type_display}}</span>
        </div>            
    </div>
    {% if public %}<input type="hidden" name="public" value="true">{% endif %}
    <div class="column-full edit-section">
        {# Submission type #}
        {% if not submission.id %}
        <div class="form-group edit-item type-textarea ">
            <label class="form-label" for="submissionType">Type of {{ submission_group_name|default:'Request' }}</label>
         <script>
          function display_extra() {
                var dict = {};
                {% for submission_type in submission_types %}
                    dict[{{ submission_type.id }}] = "{{ submission_type.extra_info_required }}";
                {% endfor %}
                var selected_type = document.getElementById("submissionType").value;
                var hide_div = (dict[selected_type] == "False");
				document.getElementById("extra_info_div_id").hidden = hide_div;
            }
        </script>

           <select class="form-control auto-width" onchange="display_extra()" id="submissionType" name="submission_type_id">
                {% for submission_type in submission_types %}
                    <option value="{{submission_type.id}}" >{{submission_type.name}}</option>
                {% endfor %}
            </select>
         </div>
          <div id="extra_info_div_id" class="form-group edit-item type-textarea " hidden>
                <label class="form-label" for="extra_info_id">Enter more details about the General Submission:</label>
               <input type="text" name="extra_info" id="extra_info_id" class="form-control" >
         </div>
       {% endif %}
    </div>
</div>
