.file-block {
  background: $grey-3;
  margin: 20px 0;
  padding: 20px;
}

.filelist {
  td,
  th {
    font-size: 16px;
    vertical-align: top;
  }
}

.multiple-choice.checkbox-container {
  margin: 0px !important;
  padding: 0px;
  width: 38px;
  height: 38px;
}
