/* Our colours */
$jamie-panel-colour: #f0f2f2;

$jamie-party-expander-background: #afcae1;
$jamie-party-button-border: #4b8bbd;
$jamie-party-button-text: #246fae;

$jamie-red: #ee2f28;

$bright-red: #e32020;

$alert-box-background: #d0e6d9;
$alert-box-border: #1d9d4e;

$list-item-bg-colour: #f5f5f5;

$in-progress-colour: #f89406;
