{% load get_item %}

{% with bound_field.errors as errors %}
    <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}
        {% if form_group_classes %}{{ form_group_classes }}{% endif %}">
        <label class="govuk-label {% if strong %}govuk-label--s{% endif %}" for="{{ id }}">
            {{ bound_field.label }}
        </label>
        {% if hint %}
            <div id={{ bound_field.html_name }}-hint" class="govuk-hint">
                {{ hint }}
                </div>
        {% endif %}
        {% if errors %}
            <p id="{{ bound_field.html_name }}-error" class="govuk-error-message">
                {% for error in errors %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                {% endfor %}
                </p>
        {% endif %}
        <input class="govuk-input
    {% if width %}govuk-input--width-{{ width }}{% endif %}{% if input_class %} {{ input_class }} {% endif %}
    {% if errors %}govuk-input--error{% endif %}
    {% if disabled or readonly %}govuk-input--readonly{% endif %}"
        {% if disabled %}disabled{% endif %}
        {% if readonly %}readonly{% endif %}
        id="{{ bound_field.auto_id }}" name="{{ bound_field.html_name }}" type="{{ widget.type }}"
            {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
            autocomplete="off"
                {% if value %}
                    value="{{ value }}"
                {% elif form.data|get_item:name %}
                    value="{{ form.data|get_item:name }}"
                {% endif %}
                >
                </div>
{% endwith %}
