{% extends 'v2/govuk/base.html' %}

{% block page_title %}Create new representative invitation{% endblock page_title %}

{% load get_item %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create a new representative invitation
        </h1>


        <h1 class="govuk-heading-m">
            Who is inviting the representative?
        </h1>
        <form method="post">
            {% csrf_token %}

            <div class="govuk-form-group">
                <label class="govuk-label">
                    Case
                </label>
                <select class="govuk-select" class="select_case" name="case_id">
                    {% for case in cases %}
                        <option value="{{ case.id }}">{{ case.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label">
                    Organisation
                </label>
                <select class="govuk-select" class="select_case" name="organisation_id">
                    {% for organisation in organisations %}
                        <option value="{{ organisation.id }}">{{ organisation.name }} ({{ organisation.id }})</option>
                    {% endfor %}
                </select>
            </div>


            <button type="submit" class="govuk-button">Create</button>
        </form>
    </div>
{% endblock row_content %}
