{% load confidential %}

  <div class="column-two-thirds">
    <h3 class="heading-medium">{{submission.name|default:submission.type.name}}</h3>
    <h4 class="heading-small">Status: {{submission.status.name|default:'N/A'}}</h4>
    <!-- {% include '../submission_status.html' with submission=submission status_context=status_context %} -->

    {% include '../case_details.html' %}

    <h3 class="heading-medium">Confidential documents</h3>
    {% include 'widgets/document_list.html' with documents=documents.confidential %}
    <h3 class="heading-medium">Documents for the public file</h3>
    {% include 'widgets/document_list.html' with documents=documents.nonconfidential %}
      <h1>YEE HAHHH</h1>

      {% include 'widgets/notesWidget.html' with notes=notes contentType='cases.submission' modelId=submission.id %}
  </div>
