{% extends "base.html" %}
{% load format_date %}
{% load static %}

{% block heading %}
    Feedback
{% endblock %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'v2/stylesheets/application.css' %}">
    <style>
        dt {
            color: black !important;
        }
    </style>
    <div class="grid-row">
        <div class="colum-full-nav">
            <a href="{% url 'view_all_feedback' %}">View all feedback</a>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        Date submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ feedback.created_at|date:'d M Y - H:i' }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        User logged in
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ feedback.logged_in|yesno }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        URL
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ feedback.url }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        Journey
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ feedback.journey }}</p>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        Rating
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ feedback.verbose_rating_name }}</p>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        What didn't work so well
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul>
                            {% for issue in feedback.verbose_what_didnt_go_so_well %}
                                <li>{{ issue }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </div>
                {% if feedback.what_didnt_work_so_well_other %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key bold">
                            Other issue
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ feedback.what_didnt_work_so_well_other }}</p>
                        </dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key bold">
                        How could we improve this service
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ feedback.how_could_we_improve_service|default_if_none:'' }}</p>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

{% endblock main_content %}
