{% extends "base.html" %}
{% load text_element %}
{% load custom_filters %}
{% load application_heading %}

{% block heading %}
    Set system parameters
{% endblock %}

{% block main_content %}
    <form method="post" class="dd-form action-form">
        {% csrf_token %}
        <table class="table system-parameters">
            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for parameter in system_parameters %}
                    <tr>
                        <td>{{parameter.key}}</td>
                        <td>
                            {% if parameter.value|_multi_line %}
                                <textarea name="{{parameter.key}}">{{parameter.value}}</textarea>
                            {% elif parameter.data_type == 'bool' %}
                                <div class="multiple-choice">
                                    <input id="{{parameter.key}}" class="pull-left" name="{{parameter.key}}" type="checkbox" value="true" {% if parameter.value %} checked{% endif %}>
                                    <label for="{{parameter.key}}"></label>
                                </div>
                            {% else %}
                                <input  type="text" name="{{parameter.key}}" value="{{parameter.value}}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button-container margin-top-1">
            <button type="submit" class="button button-blue">Save</button>
        </div>
    </form>

{% endblock %}
