
{% load form_error %}
{% load text_element %}
{% load set %}

{% block heading %}
<div class="column-full">
    <h2 class="heading-medium margin-left-1">{% if edit_user.id %}Update{% else %}Create{% endif %} User</h2>
</div>
{% endblock %}

{% block main_content %}


    <form action='{{API_URL}}/users/{{user_group}}/{% if edit_user.id %}{{edit_user.id}}{% else %}create{% endif %}/' method='post' class="compact-form" style="min-width:900px;">
        {% csrf_token %}
        <div class="column-two-thirds">
            <div class="column-one-half">
                {% text_element id='email' label='Email' errors=errors value=edit_user.email readonly=edit_user.id autocomplete='new-email' %}
                {% text_element id='name' label='Name' errors=errors value=edit_user.name %}
                {% text_element id='phone' label='Phone number' errors=errors value=edit_user.phone %}
                {% set 'password_label' 'Set password' %}
                {% if edit_user.id %}{% set 'password_label' 'Change password' %}{% endif %}
                {% text_element id='password' label=password_label errors=errors value=edit_user.password password=True autocomplete='new-password' %}
                {% text_element id='password_confirm' label='Confirm password' errors=errors value=edit_user.password_confirm password=True %}
                {% if not edit_user.tra %}
	                <label for="organisation" class="form-label">Organisation</label>
	                <a href="/organisation/{{edit_user.organisations.0.id}}/" >{{edit_user.organisations.0.name}}</a>
	            {% endif %}
            </div>
            <div class="column-one-half">
            	{% if edit_user.tra %}
                    {% if 'job_title_id' in errors %}
                        {% set 'job_title_error' True %}
                    {% endif %}
	                <div class="form-group type-text {% if job_title_error %}form-group-error{% endif %}">
                        {% if job_title_error %}
                            <span class="error-message">Job Title required</span>
                        {% endif %}
	                    <label for="job_title_id" class="form-label">Job Title </label>
	                    <select name="job_title_id" class="form-control" id="job_title_id">
	                        <option value="">Select Job Title</option>
	                        {% for title in job_titles %}
	                            <option
	                                value="{{ title.id }}"
	                                {% if title.id == edit_user.job_title.id %}selected{% endif %}>{{ title.name }}</option>
	                        {% endfor %}
	                    </select>
	                </div>
	            {% else %}
	                <div class="form-group type-text {% if errors.country %}form-group-error{% endif %}">
	                    <label for="country" class="form-label">Country</label>
                        {% if errors.country %}
                            <span class="error-message">Country required</span>
                        {% endif %}
	                    <select name="country" class="form-control" id="country">
	                        <option value="">Select Country</option>
	                        {% for country in countries %}
	                            <option
	                                value="{{ country.0 }}"
	                                {% if country.0 == edit_user.country_code %}selected{% endif %}>{{ country.1 }}</option>
	                        {% endfor %}
	                    </select>
	                </div>
	                <div class="form-group type-text {% if 'timezone' in errors %}form-group-error{% endif %}">
	                    <label for="timezone" class="form-label">Time Zone </label>
	                    <select name="timezone" class="form-control" id="timezone">
	                        <option value="">Select Time Zone</option>
	                            {% for timezone in timezones %}
	                                <option
	                                    value="{{timezone}}"
	                                    {% if timezone == edit_user.timezone %}selected{% endif %}>{{timezone}}</option>
	                            {% endfor %}
	                    </select>
	                </div>
	            {% endif %}
                <div class="form-group inline {% if 'active' in errors %}form-group-error{% endif %}">
                    <label for="active" class="form-label">User active</label>
					<div class="multiple-choice small">
						<input
							type="radio"
							id="active_yes"
							name="active"
							value="yes"
							{% if not edit_user.id or edit_user.active %}checked{% endif %}
						/>
					<label for="active_yes" class="form-label">Active</label>
					</div>
					<div class="multiple-choice small">
							<input
							type="radio"
							id="active_no"
							name="active"
							value="no"
							{% if edit_user.id and not edit_user.active %}checked{% endif %}
						/>
							<label for="active_yes" class="form-label">Inactive</label>
					</div>
                </div>
                {% if not edit_user.tra %}
	                <div class="form-group inline {% if 'validated' in errors %}form-group-error{% endif %}">
	                    <label for="active" class="form-label">Email validation</label>
	                    <div class="multiple-choice small">
	                        <input
	                            type="radio"
	                            id="verified_yes"
	                            name="set_verified"
	                            {% if not edit_user.email_verified_at %}value="set"{% endif %}
	                            {% if edit_user.email_verified_at %}checked{% endif %}
	                        />
	                        <label for="active_yes" class="form-label">Validated</label>
	                    </div>
	                    <div class="multiple-choice small">
	                        <input
	                            type="radio"
	                            id="verified_no"
	                            name="set_verified"
	                            {% if edit_user.email_verified_at %}value="clear"{% endif %}
	                            {% if not edit_user.email_verified_at %}checked{% endif %}
	                        />
	                        <label for="active_yes" class="form-label">Not validated</label>
	                    </div>
	                </div>
	            {% endif %}
	            <div class="form-group {% if 'roles' in errors %}form-group-error{% endif %}" >
                    <fieldset>
                        <label for="active" class="form-label">Security groups</label>
                        {% form_error 'roles' errors %}
                        {% if super_user_role in edit_user.groups %}
                            <div class="multiple-choice small">
                                <input
                                    type="radio"
                                    id="role_su"
                                    name="roles"
                                    value="{{super_user_role}}"
                                    checked
                                />
                                <label for="role_su" class="form-label">Super User</label>
                            </div>
                        {% endif %}
                        {% for group in groups %}
                            <div class="multiple-choice small">
                                <input
                                    type="radio"
                                    id="role_{{forloop.counter}}"
                                    name="roles"
                                    value="{{group.0}}"
                                    {% if group.0 in edit_user.groups %}checked{% endif %}
                                />
                                <label for="role_{{forloop.counter}}" class="form-label">{{group.0}}</label>
                            </div>
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="column-one-third">
            <h3 class="heading-small">User's active cases</h3>
            {% if cases|length %}
                <table class="table case-list">
                    {% for case in cases %}
                        <tr>
                            <td>{{case.reference}}</td>
                            <td>{{case.name}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
				{% if not edit_user.tra %}
	                <p>This user has no active cases and therefore can be deleted.</p>
	                <button type="button" data-handler="clickConfirm" 
						data-message="Are you sure you want to delete this user?" 
						data-title="Delete user" 
						data-url="\users\{{edit_user.id}}\delete\" class="button button-grey compact" name="btn_val" value="delete"
					>Delete user</button>
            	{% endif %}
            {% endif %}
        </div>
        <div class="column-full">
            <button class="button button-blue" value="save">Save</button>
            <button type="button" class="button pull-right button-grey dlg-close">Cancel</button>
        </div>
    </form>
{% endblock %}
