{% extends 'v2/govuk/base.html' %}

{% block page_title %}Review your answers{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">
            Review matching organisations
        </span>
        <h1 class="govuk-heading-xl">
            Review your answers
        </h1>

        <p>There {% if confirmed_duplicates|length != 1 %}are{% else %}is{% endif %}
            <strong>{{ confirmed_duplicates|length }}
                {% if confirmed_duplicates|length == 0 or confirmed_duplicates|length >= 2 %}organisations{% else %}organisation{% endif %}</strong> to be
            merged with the selected organisation. </p>

        <p>Our records will show the following details:</p>
        {% include "v2/partials/organisation_card.html" with organisation=draft_merged_org request=request hide_edit_button=True %}


        <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Organisations to be merged: {{ confirmed_duplicates|length }}
                </span>
            </summary>
            {% for confirmed_duplicate in confirmed_duplicates %}
                <div class="govuk-details__text">
                    {% include "v2/partials/organisation_card.html" with hide_edit_button=True organisation=confirmed_duplicate request=request %}
                </div>
            {% endfor %}
        </details>


        <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Organisations marked as not a duplicate: {{ confirmed_not_duplicates|length }}
                </span>
            </summary>
            {% for not_duplicate_organisation in confirmed_not_duplicates %}
                <div class="govuk-details__text">
                    {% include "v2/partials/organisation_card.html" with hide_edit_button=True organisation=not_duplicate_organisation request=request %}
                </div>
            {% endfor %}
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        {% if confirmed_duplicates|length == 0 %}
            <form method="post">
                {% csrf_token %}
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Submit
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state"
                        {% if "submission_id" in request.resolver_match.kwargs %}
                            href="{% url 'organisations:submission_cancel_organisation_merge' submission_id=submission_id organisation_merge_record_id=organisation_merge_record.id %}"
                        {% else %}
                            href="{% url 'organisations:cancel_organisation_merge' organisation_merge_record_id=organisation_merge_record.id %}"
                        {% endif %}
                    >Cancel</a>
                </div>
            </form>

        {% else %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Merging organisations cannot be undone
                </strong>
            </div>

            <form method="post">
                {% csrf_token %}
                {% include "v2/component_macros/checkbox.html" with heading="Please confirm the following" id="confirm" name="confirm" label="I have authority to complete this merge" %}
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Merge organisations
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state"
                        {% if "submission_id" in request.resolver_match.kwargs %}
                            href="{% url 'organisations:submission_cancel_organisation_merge' submission_id=submission_id organisation_merge_record_id=organisation_merge_record.id %}"
                        {% else %}
                            href="{% url 'organisations:cancel_organisation_merge' organisation_merge_record_id=organisation_merge_record.id %}"
                        {% endif %}
                    >Cancel merge</a>
                </div>
            </form>
        {% endif %}

    </div>
{% endblock row_content %}
