{% extends 'v2/govuk/base.html' %}

{% block page_title %}Select if duplicate{% endblock page_title %}

{% block main_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">
                Review matching organisations
            </span>
            <h1 class="govuk-heading-xl">
                Select if duplicate
                {# we don't want to show the brackets (1 out of 3) if there is only 1 duplicate, same for the table below #}
                {% if duplicate_organisation_merge.order_in_parent.1 != 1 %}({{ duplicate_organisation_merge.order_in_parent.0|add:1 }} of {{ duplicate_organisation_merge.order_in_parent.1 }}){% endif %}
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table merge">
                <caption class="govuk-table__caption">
                    <span class="govuk-visually-hidden">A table showing the selected organisation and the matching organisation</span>
                </caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Field</th>
                        <th scope="col" class="govuk-table__header">Selected organisation</th>
                        <th scope="col" class="govuk-table__header">
                            Matching organisation
                            {% if duplicate_organisation_merge.order_in_parent.1 != 1 %}({{ duplicate_organisation_merge.order_in_parent.0|add:1 }} of {{ duplicate_organisation_merge.order_in_parent.1 }}){% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">Name</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.name|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "name" in identical_fields %}
                                <mark>{{ child_organisation.name }}</mark>
                            {% else %}
                                {{ child_organisation.name|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">Address</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.address|default_if_none:"" }}<br>
                            {{ draft_parent_organisation.post_code|default_if_none:"" }}<br>
                            {{ draft_parent_organisation.country_name|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "address" in identical_fields %}
                                <mark>{{ child_organisation.address }}</mark>
                            {% else %}
                                {{ child_organisation.address|default_if_none:"" }}
                            {% endif %}
                            <br>
                            {% if "post_code" in identical_fields %}
                                <mark>{{ child_organisation.post_code }}</mark>
                            {% else %}
                                {{ child_organisation.post_code|default_if_none:"" }}
                            {% endif %}
                            {% if "country" in identical_fields %}
                                <mark>{{ child_organisation.country_name }}</mark>
                            {% else %}
                                {{ child_organisation.country_name|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">Reg number</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.companies_house_id|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "companies_house_id" in identical_fields %}
                                <mark>{{ child_organisation.companies_house_id }}</mark>
                            {% else %}
                                {{ child_organisation.companies_house_id|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">Website</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.organisation_website|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "organisation_website" in identical_fields %}
                                <mark>{{ child_organisation.organisation_website }}</mark>
                            {% else %}
                                {{ child_organisation.organisation_website|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">VAT number</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.vat_number|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "vat_number" in identical_fields %}
                                <mark>{{ child_organisation.vat_number }}</mark>
                            {% else %}
                                {{ child_organisation.vat_number|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">EORI number</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.eori_number|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "eori_number" in identical_fields %}
                                <mark>{{ child_organisation.eori_number }}</mark>
                            {% else %}
                                {{ child_organisation.eori_number|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row no-border">
                        <th scope="row" class="govuk-table__header">DUNS number</th>
                        <td class="govuk-table__cell text-overflow">
                            {{ draft_parent_organisation.duns_number|default_if_none:"" }}
                        </td>
                        <td class="govuk-table__cell text-overflow">
                            {% if "duns_number" in identical_fields %}
                                <mark>{{ child_organisation.duns_number }}</mark>
                            {% else %}
                                {{ child_organisation.duns_number|default_if_none:"" }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <form method="post">
                {% csrf_token %}
                {% include "v2/component_macros/two_radio_buttons.html" with inline=True label="Is the matching organisation a duplicate?" label_size="m" h1_heading=True name="is_matching_organisation_a_duplicate" id_one="option_1" value_one="true" label_one="Yes" id_two="option_2" value_two="false" label_two="No" %}
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisations:merge_organisations_exit_merge_process' submission_organisation_merge_record_id=submission_organisation_merge_record_id %}">
                        Exit
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock main_content %}
